<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@200&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="app.component.css">
</head>
<body>
  <div class="body">
    <div class="blank">
      <h3>Destinacije</h3>
      <h3>Vrste putovanja</h3>
      <h3>Kalendar</h3>
      <h3>O nama</h3>
      <h3>Kontakt</h3>
    </div>
    <div class="background">
      <img src="../assets/profilna.jpg" alt="">
    </div>
  </div>
  <div class="naslov">
    <h1>Odaberite svoju idealnu destinaciju</h1>
  </div>
  <div class="forma">
    <h3>Odaberite tip prevoza </h3>
    <select id="transport-type">
      <option value="airplane">Airplane</option>
      <option value="car">Car</option>
      <option value="bus">Bus</option>
    </select>
    <h3>Unesite budzet</h3>
    <input type="text" name="" id="">
    <h3>Do koliko sati voznje</h3>
    <input type="text" name="" id="">
    <h3>Datum od</h3>
    <input type="date" id="od" >
  </div>
  <div class="forma">
    <h3>Datum do</h3>
    <input type="date" id="do" >
    <h3>Tip smestaja</h3>
    <input type="date" id="do" >
    <h3>Interesi</h3>
    <input type="radio">Obilasci
    <input type="radio">Kulturne znamenitosti
    <input type="radio">Plaza
    <input type="radio">More
    <input type="radio">Planine
    <input type="radio">Skijanje
  </div>
</body>
</html>